<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
            <span class="mdc-top-app-bar__title">Cicnonia</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button (click)="menuOpen = !menuOpen" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
        </section>
        <nav *ngIf="menuOpen" class="app-menu">
            <a (click)="menuOpen = false;" routerLink="/logout">Logout</a>
        </nav>
    </div>
</header>
<section class="app-body no-select">
    <router-outlet></router-outlet>
</section>