@use "@material/icon-button/mdc-icon-button.scss";
@use "@material/top-app-bar/mdc-top-app-bar.scss";

.app-body{
    padding-top:70px;
    height:calc(100vh - 70px);
    display:flex;
    justify-content: center;
    background-color:#ded9ee;
    overflow:scroll;
}

.mdc-top-app-bar{
    transition:0.5s;
}