@use "@material/icon-button/mdc-icon-button.scss";
@use "@material/top-app-bar/mdc-top-app-bar.scss";

.app-body{
    padding-top:70px;
    height:calc(100vh - 70px);
    display:flex;
    justify-content: center;
    background-color:#ded9ee;
    overflow:scroll;
}

.mdc-top-app-bar{
    transition:0.5s;
}

.app-menu{
    position:absolute;
    z-index:100;
    top:40px;
    right:36px;
    display:flex;
    flex-flow:column;
    background-color:#f0f0f0;
    box-shadow: 1px 1px 8px #0000007a;

    a{
        display:block;
        padding:10px 30px;
        color:grey;
        text-decoration:none;
        transition:0.3s;

        &:hover{
            color:#333;
            background-color:white;
        }
    }
}